.nav {
  background-color: #ffe8d6;
  padding: 2em;
}

#basic-navbar-nav {
  display: flex;
  justify-content: center;
}

.navbar-nav {
  width: 90vw;
  display: grid;
}

.grid-container {
  font-family: 'Montserrat', sans-serif;
  font-size: 24px;
  text-align: center;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  gap: 0px 0px;
  grid-template-areas:
    ". . .";
}

.together {
  display: inline-flex;
}

a {
  color: #6b705c !important;
  &:hover {
    color: #A5A58D !important;
  }
}
